[run]
omit =
    gi_loadouts/face/rsrc/arti/*.py
    gi_loadouts/face/rsrc/char/*.py
    gi_loadouts/face/rsrc/data/*.py
    gi_loadouts/face/rsrc/font/*.py
    gi_loadouts/face/rsrc/pmon/*.py
    gi_loadouts/face/rsrc/rare/*.py
    gi_loadouts/face/rsrc/vson/*.py
    gi_loadouts/face/rsrc/weap/*.py
